[submodule "ForLatte/vender/spdlog"]
	path = ForLatte/vender/spdlog
	url = https://github.com/gabime/spdlog
[submodule "ForLatte/vender/imgui"]
	path = ForLatte/vender/imgui
	url = https://github.com/TheCherno/imgui.git
